<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - StarLink_Contact</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
   
   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,500&family=Roboto:ital,wght@0,100;0,400;0,500;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
@{
    string path = Context.Request.Path;
}
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  border-bottom  mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/blue.bird-removebg-preview.png" height="100"/> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link @(!path.Contains("Contacts") && !path.Contains("Contacts") ? "active" : "" )" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>                 
                        <li class="nav-item"> 
                            <a class="nav-link @(path.Contains("Contacts") ? "active" : "" )" asp-area="" asp-controller="Contacts" asp-action="Index">Contacts</a>
                        </li>                 
                        <li class="nav-item"> 
                            <a class="nav-link  @(path.Contains("Catagories") ? "active" : "" )" asp-area="" asp-controller="Catagories" asp-action="Index">Categories</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer container-fluid">
       <div class="row align-items-center">
           <div class="col-12 col-md-4 order-last order-md-first text-center text-md-center">
               <div class="copyright">&copy; 2022 Ocean Pena ALL Right Reserved</div>
           </div>
            <div class="col-12 col-md-4 d-flex justify-content-center order-0 order-md-2">
                <img src="~/img/blue.bird-removebg-preview.png" height="100" />
            </div>
            <div class="col-12 col-md-4 d-flex justify-content-center order-3">

                <a href="#" class="socialicons"><i class="bi bi-linkedin p-2"></i></a>
                <a href="#"class="socialicons"><i class="bi bi-twitter p-2"></i></a>
                <a href="#"class="socialicons"><i class="bi bi-youtube p-2"></i></a>
                <a href="#"class="socialicons"><i class="bi bi-instagram p-2"></i></a>
            </div>
       </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
